@{
  Layout = "_Layout";
}

@using Vendor_and_Order_Tracker.Models;

<h1>Vendor Information</h1>

<h4>@Model.GetVendorName()</h4>
<h4>@Model.GetVendorId()</h4>
<h4>@Model.GetAddress()</h4>
<h4>@Model.GetState()</h4>
<h4>@Model.GetCity()</h4>
<h4>@Model.GetZipcode()</h4>
<h4>@Model.GetPhone()</h4>
<h4>@Model.GetEmail()</h4>


<p><a href="/vendors">Vendors</a></p>
<p><a href="/orders">Orders</a></p>
<p><a href="/">Home</a></p>