@{
  Layout = "_Layout";
}

@using Vendor_and_Order_Tracker.Models;

<h1>Order Information</h1>

<h4>Order Id: @Model.GetOrderId()</h4>
<h4>Vendor Id: @Model.GetOrderVendorUniqueId()</h4>
<h4>Vendor Name: @Model.GetOrderVendorName()</h4>
<h4>Order Date: @Model.GetOrderDate()</h4>
<h4>Date for Delivery: @Model.GetDeliveryForDate()</h4>
<h4>Number of Rye Loaves: @Model.GetRyeLoaf()</h4>
<h4>Number of Wheat Loaves: @Model.GetWheatLoaf()</h4>
<h4>Number of Gluten Free Loaves: @Model.GetGlutenFreeLoaf()</h4>
<h4>Number of Croissants: @Model.GetCroissant()</h4>
<h4>Number of Baklava: @Model.GetBaklava()</h4>
<h4>Number of Danishes: @Model.GetDanish()</h4>

<p><a href="/vendors">Vendors</a></p>
<p><a href="/orders">Orders</a></p>
<p><a href="/">Home</a></p>